* {
  box-sizing: border-box;
}

body {
  background-color: hsl(220, 90%, 95%);
  color: hsl(220, 85%, 10%);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

h1 {
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  max-width: 65ch;
}
section {
  padding: 1.5rem 2rem;
  margin: 0.625rem;
}

.prix {
 font-weight: 700;
}

button {
  background-color: hsl(24, 95%, 50%);
  color: hsl(220, 85%, 10%);
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 1rem;
}

footer {
  color: hsl(220, 20%, 40%);
  font-size: 0.875rem;
  padding: 1.5rem 2rem;
}